doctype html
html
	head
		meta(name='charset', content='utf-8')
		title= title
		style
			include ../css/bootstrap.min.css
		style
			include ../css/styles.css
		style
			each fontFamily in fontFamilies
				| @font-face{font-family: "#{fontFamily.family}"; src: url('output/#{fontFamily.file.file}');} 
				
	body.fontlist
		header.navbar.navbar-default.navbar-static-top
			div.container-fluid
				form.navbar-right.navbar-form(method='post' action='')
					button.navbar-btn.btn.btn-default(type='submit' name='log_out' value='true')= 'Log out'
					
		if remaining > 0
			div.container-fluid
				div.row.text-center
					button.btn.btn-default.display_more#load_more Load <span id='more_count'>#{loadMore}</span> more, <span id='remaining_count'>#{remaining}</span> fonts remaining
		div.container-fluid
			div.row.text-center
				div.col-md-3
					ul.list-group#user_list
						each user in users
							li.list-group-item.user= user
				div.col-md-9
					div.row#font_list
						each file in files
							- var family = file.file.substring(file.file.indexOf('_')+1).replace(/(\.[A-z]*)$/g,'');
							div.file.col-md-4(data-user=file.user)
								div.panel.panel-default(style='font-family:"#{family}";')
									div.panel-body(style='font-size:2.4vw',contenteditable=true)= 'HANOGRES hamburgefonstiv'
									div.panel-footer.container-fluid(style='font-family: sans-serif')
										span.file_span(data-file=file.file)= file.familyStyle
										span= ' '
										span.user_span= file.user
										div.download_font
											a.glyphicon(href='output/'+file.file)
		script
			include ../js/client.js
